
#logo-div{
    
    height: 55%;
    display: flex;
    align-items: center; // alinhamento vertical
    justify-content: center; // alinhamento horizontal
    h3 {
        text-align: center;
    }
}